BasedOnStyle: LLVM
AlignConsecutiveAssignments: 'true'
AlignOperands: 'true'
AllowShortIfStatementsOnASingleLine: Always
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakTemplateDeclarations: 'Yes'
SortIncludes: 'false'
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'false'
BreakStringLiterals: 'false'
ColumnLimit: '120'
DerivePointerAlignment: 'true'
ExperimentalAutoDetectBinPacking: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Preserve
IndentCaseLabels: 'false'
IndentWidth: '2'
IndentWrappedFunctionNames: 'false'
Language: Cpp
SpacesInSquareBrackets: 'false'